@using Health.Domain.Entities
@using Health.WebUI.Models.PatientModels



@model PatientPage
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Model.Patient.PatientName


@foreach(var v in Model.PreviousAppointments)
{
<span> @v.Appointment.AppointmentComment;</span>
   if(v.Appointment.Diagnosis==null)
   {
       <span> sdfsdgsdg</span>
   }
}
