@model IEnumerable<Health.Domain.Entities.Disease>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Diseases list</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>

<table class="table">
    <tr>
        
        <th>Disease title</th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiseaseTitle)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "EditDisease", new { id = item.DiseaseId }) |
                @Html.ActionLink("Удалить", "Delete","AdminDiseases", new { id = item.DiseaseId })
            </td>
        </tr>
    }

</table>
