@using Health.Domain.Entities;

@model List<Specialization>
@foreach (var m in Model)
{

    <a href="@Url.Action("SpecializationRecords",new {specializationId=m.SpecializationId})">
        <div class="block_specialize_theme_white">
            <div class="block_theme_gradient block_specialize button_MouseOn">
                @if (m.SpecializationImageData == null || m.SpecializationImageMimeType == null)
                {
                    <img src="~/Content/icons/svgIcons/NoSpecializationIcon.svg"  class="Specialization_Icon">
                }
                else
                {
                    <img src="@Url.Action("GetSpecializationIcon", "MedicalRecord",
                new { m.SpecializationId })" class="Specialization_Icon">
                }


                <div class="Specialization_Text">@m.SpecializationTitle</div>
            </div>
        </div>
    </a>
}

