<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Styles/MainLeftMenuStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EditError.css" rel="stylesheet" />

</head>
<body>
    <div class="MainLeftMenu">
        <div class="MenuImage Medical_Icon"></div>
        <div class="NavigationItemsGroup">

            <a style="text-decoration:none" href="@Url.Action("Index","Patient")">
                <div class="MenuImage AccountIconActive">
                </div>
            </a>
            <p class="NavigationMenuText ActiveMenuText">Аккаунт</p>
            <div class="MenuImage  MedCardIcon">

            </div>
            <p class="NavigationMenuText">Медкарта</p>
            <a style="text-decoration:none" href="@Url.Action("Index","PatientAppointment")">
                <div class="MenuImage СouponIcon">
                </div> 
                <p class="NavigationMenuText">Талончик</p>
            </a>
        </div>
      <div class="MenuImage Help_Icon"></div>
    </div>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>










</body>
</html>