<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Styles/MainLeftMenuStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/main.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="MainLeftMenu">
        <div class="MenuImage Medical_Icon"></div>
        <div class="NavigationItemsGroup">

            <div class="MenuImage AccountIconActive">

            </div>
            <p class="NavigationMenuText ActiveMenuText">Аккаунт</p>
            <div class="MenuImage  MedCardIcon">

            </div>
            <p class="NavigationMenuText">Медкарта</p>
            <div class="MenuImage СouponIcon">

            </div>
            <p class="NavigationMenuText">Талончик</p>

        </div>
        <div class="MenuImage Help_Icon"></div>
    </div>


 
        @RenderBody()    
     



   


</body>
</html>