@using Health.Domain.Entities
@using Health.WebUI.Models.PatientModels

@model  PatientPage
@if (Model.PreviousAppointments.Count == 0)
{
    <div class="block_NoPreviousAppointments">
        Нет посещений
    </div>
}
else
{
    foreach (var p in Model.PreviousAppointments)
    {
        <div>
            @Html.Partial("~/Views/Shared/PatientPartialViews/PatientPreviousAppointment.cshtml", p)
        </div>
    }
}