@using Health.Domain.Entities
@using Health.WebUI.Models.PatientModels

@model  PatientPage

@foreach (var p in Model.PreviousAppointments)
{
    <div>
        @Html.Partial("~/Views/Shared/PatientPartialViews/PatientPreviousAppointment.cshtml", p)

    </div>
}
